.currency-stats-table-container {
    display: flex;
    flex-direction: row;
}

.currency-stats-table {
    margin: 10px;
    width: 45%;
    display: inline-block;
    flex: 1;
}

.currency-stats-table-header {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0px 1px rgba(255, 255, 255, .7)
}

.header-cell:first-child {
    border-right: 1px solid rgba(255, 255, 255, .7);
}

.header-cell {
    flex: 1;
    text-align: center;
    margin-bottom: 0px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.currency-stats-table-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.currency-stats-table-row:hover {
    background-color: #c2185b;
    color: white;
}

.currency-stats-table-row:nth-child(2n) .table-row-cell {
    background-color: rgba(255, 255, 255, .1);
}

.table-row-cell {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    background-color: #ffffff33;
    padding: 2px 2px 3px 5px;
}

.row-heading {
    text-align: left;
    // color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-right: 1px solid black;
}

.row-value {
    text-align: right;
    // color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}